
<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">

<head>
    <meta charset="UTF-8">

    <meta name="description"
          content="With wide range of Options for the Second Hand Bike of Your Choice in India, Credr is a largest source of used bikes in India. Get Free Warranty worth Rs.3000! On 100% verified Bikes"/>
    <meta name="keywords"
          content="credr, used bikes, used bikes online, second hand bikes online, verified used bikes, used bikes india, used sports bikes in india, buy used bikes in india, 2nd hand bikes in india, motorbikes, motorcycles, scooters, best prices"/>
    <meta name="author" content="credr.com"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>

    <title>Credr: Verified Second Hand Bikes, Used Bikes in India</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <!--this is responsible for google plus theam-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/assets/json/manifest.json">
    <link rel="apple-touch-icon" sizes="128x128" href="/assets/images/icons/site.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/assets/images/icons/site.png">


    <link rel="stylesheet" type="text/css" href="/assets/css/build-62d63d26b2443d4bbe426ec5898696b7.css"/>

    <link href='//fonts.googleapis.com/css?family=Raleway:700,800,400,200,300,900' rel='stylesheet'
          type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link href="/assets/images/favicon.jpg" type="image/gif" rel="shortcut icon">

    <!-- embed code for fonts -->
    <script src="/assets/js/homepage.js"></script>
   
</head>

<body>
</body>

</html>
